.posts_main {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100vh;
	&::-webkit-scrollbar {
		display: none;
	}

	.cards {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
		padding: 20px;

		.card {
			border: 1px solid;
			padding: 20px;
			width: 100%;
			.card__text {
				.card__text__inside {
					display: flex;
					gap: 10px;
					margin-bottom: 10px;
				}
			}
			.activeComment {
				display: block;
				transform: translateY(0px) scale(1);
				transition: 0.3s;
				opacity: 1;
			}
			.isActiveComment {
				display: none;
				transform: translateY(-30px) scale(0);
				transition: 0.3s;
				opacity: 0;
			}
			.actions {
				margin-top: 15px;
				.action__top {
					display: flex;
					gap: 10px;
					button {
						width: 100%;
					}
				}
				.action__bottom {
					display: flex;
					gap: 10px;
					margin-top: 10px;
					button {
						width: 100%;
					}
				}
				button {
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 5px;
					padding: 3px 10px;
					border: none;
					color: #fff;
					border-radius: 8px;
					cursor: pointer;
				}
				.comment_btn {
					background-color: rgba(37, 37, 185, 0.887);
				}
				.delete_btn {
					background-color: rgb(232, 29, 29);
				}
				.update_btn {
					background-color: rgb(65, 199, 65);
				}
				.activeBtn {
					background-color: rgba(37, 37, 185, 0.887);
				}
				.nonActiveBtn {
					background-color: gray;
					// opacity: 0.8;
				}
				.activeSaved {
					background-color: rgba(37, 37, 185, 0.887);
				}
			}
			.activeModal {
				display: block;
			}
			.nonActiveModal {
				display: none;
			}
			.update {
				p:first-child {
					margin-top: 20px;
				}
			}
		}
	}

	.pagination {
		display: flex;
		width: 100%;
		justify-content: end;
		padding: 15px;
		.pagination_button {
			border-style: none;
			padding: 20px;
			font-size: 20px;
			border-radius: 2px;
			margin: 2px;
		}
		.activeBtn {
			color: red;
		}
	}
}

@media (max-width: 1200px) {
	.cards {
		grid-template-columns: repeat(2, 1fr) !important;
	}
}

@media (max-width: 750px) {
	.cards {
		grid-template-columns: repeat(1, 1fr) !important;
	}
}
