header {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	button {
		display: flex;
		align-items: center;
		max-width: 50vw;
		padding: 10px 20px;
		margin: 10px 0;
		background-color: blue;
		border: none;
		color: #fff;
		border-radius: 9px;
		font-size: 16px;
		font-weight: 600;
	}
	.header__right {
		display: flex;
		gap: 10px;
		align-items: center;
		input {
			padding: 8px 14px;
		}
		select {
			padding: 8px 14px;
		}
	}
}

@media (max-width: 850px) {
	header {
		.header__left {
			padding: 5px 10px;
			font-weight: 400;
		}
		.header__right {
			gap: 10px;
			input {
				width: 150px;
			}
			select {
				width: 100px;
			}
		}
	}
}

@media (max-width: 630px) {
	header {
		flex-wrap: wrap;
		.header__left {
			width: 90%;
			padding: 10px 20px;
			font-size: 18px;
			display: flex;
			justify-content: center;
		}

		.header__right {
			margin-top: 15px;
			display: block;
			input {
				width: 90%;
			}
			select {
				width: 90%;
				margin-top: 15px;
			}
		}
	}
}